{% extends "base.html" %}

{% block content %}


    {% for title, descr, img, url in context %}
        <div class="card col-lg-4 col-md-2 col-sm-1 col-xs-1 my-1 mx-auto" style="width: 18rem;">
            <img src="{{ img }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ title }}</h5>
                <p class="card-text">{{ descr }}</p>
                <a href="{{ url }}" class="btn btn-outline-primary" target="_blank">Read more</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}