{% extends "base.html" %}

{% block content %}

    {% if news %}

        {% for new in news %}
            <div class="card col-lg-4 col-md-2 col-sm-1 col-xs-1 my-1 mx-auto" style="width: 18rem;">
                <img src="{{ new.urlToImage }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ new.title }}</h5>
                    <p class="card-text">{{ new.description }}</p>
                    <a href="{{ new.url }}" class="btn btn-outline-primary" target="_blank">Read more</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>Nothing to show</h1>
    {% endif %}

{% endblock %}